:root {
    font-size: 1.35rem;
}

html {
    min-width: 18.5rem;
}

body {
    margin: 1.25rem;
    font-family: sans-serif;
}

header {
    margin-bottom: 1.25rem;
}

h1,
h3 {
    margin: 0;
}

header h3 {
    opacity: .4;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
}

.site {
    display: table;
    margin: 0.438rem 0 0.313rem;
    text-decoration: none;
    color: #222;
    padding: 0.313rem 0 0 0;
    position: relative;
}

b {
    font-size: 1.2rem;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color 2s;
}

.site:after {
    content: "";
    display: block;
    height: 0.125rem;
    background-color: #222;
    margin: 0.25rem 0 0 0;
    width: 50%;
    transition: .2s ease-in-out;
}

.site:hover::after,
.site:active::after {
    width: 100%;
}

.site:hover .background,
.site:active .background {
    opacity: 1;
}

footer p {
    font-size: 0.7rem;
    opacity: .4;
}

.name {
    display: flex;
    gap: 0.1rem;
    align-items: center;
}