a {
    color: black;
    text-decoration: none;
}

div,
li,
ul,
img,
h1,
h2,
h3,
h4,
h5,
h6,
a,
audio,
video,
span,
body,
html,
p {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 10px;
    max-width: 600px;
    margin: auto;
    min-width: 200px;
}

header {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.02);
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    display: flex;
}

.logo-word-mark {
    position: relative;
    display: flex;
}

.logo-word-mark span {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px 10px 0;
    position: absolute;
    left: 100%;
    z-index: 0;
    opacity: 1;
    transition-property: left, opacity;
    transition: 1s ease-in-out;
}

.logo-word-mark img {
    height: auto;
    width: 18px;
    padding: 15px;
    pointer-events: none;
    background: linear-gradient(to right, white 70%, rgba(255, 255, 255, 0));
    z-index: 2;
    position: relative;
}
            
.debtor {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.02);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    -webkit-background-clip: padding-box;
    -moz-background-clip:    padding;
    background-clip:         padding-box;
    display: flex;
    gap: 10px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
}

.background::before,
.background::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.background::before {
    background-size: cover;
    z-index: -2;
    transition-property: transform, filter;
    transition: 1s ease-out;
}

.debtor.green > .background::after {
    background-color: rgba(67, 226, 122, 0.9);
}

.debtor.red > .background::after {
    background-color: rgba(255, 26, 88, 0.8);
}

.debtor.green > .background::before {
    background-image: url('groen.png');
}

.debtor.red > .background::before {
    background-image: url('rood.png');
}

.debtor:hover > .background::before {
    transform: scale(1.1);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    
}

.debtor.green > h2 {
    color: #2bd35f;
}

.debtor.red > h2 {
    color: #ff1a58;
}
            
.debtor h2 {
    display: flex;
    background-color: white;
    height: 78px;
    width: 78px;
    border-radius: 9999px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.info {
    color: #f9f9f9;
}

.info h3 {
    font-weight: 600;
    font-size: 16px;
}

.info h4 {
    font-weight: 600;
    font-size: 15px;
}

.info h5 {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
}

.info p {
    font-size: 13px;
}

.totals {
    padding: 13px 10px;
    background: linear-gradient(to left, white 90%, rgba(255, 255, 255, 0));
    font-size: 15px;
    z-index: 2;
    margin-left: auto;
}

.debtor.none {
    background-color: #F5F5F5;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 330px) {
    .logo-word-mark span {
        left: -200%;
        opacity: 0;
    }
}
