:root {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: sans-serif;
    color: #f7f7f7;
}

h1 {
    margin-bottom: .313rem;
    margin-top: 0;
    font-size: 2.5rem;
}

button {
    border: none;
    background: none;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.icon {
    fill: #f7f7f7;
}

.wrapper {
    max-width: 34.375rem;
    margin: auto;
    padding: .938rem;
}

.indicator {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 9999rem;
}

.indicator.offline {
    background-color: #FF284F;
}

.indicator.online {
    background-color: #19FF60;
}

.server {
    padding: .938rem 0;
    border-bottom: .063rem solid #272727;
}

.server article {
    gap: 1.25rem;
    display: flex;
    align-items: center;
}

.server ul {
    margin-top: .625rem;
}

.server .name {
    font-size: 1.875rem;
    margin: 0;
    font-weight: normal;
}

.show-more {
    margin-left: auto;
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    padding: .313rem;
    border-radius: .313rem;
}

.show-more .icon {
    transition: transform .3s;
}

.rotate .icon {
    transform: rotate(45deg);
}

.info {
    margin: 0 3.125rem;
    padding: .625rem 0 0 0;
    font-size: 1.063rem;
    border-top: .063rem solid #272727;
}

.show-more:hover,
.lang-switch:hover,
.day-night:hover {
    background-color: rgba(255, 255, 255, .1);
}

.day-night {
    height: 1.688rem;
    width: 1.688rem;
    cursor: pointer;
    padding: .313rem;
    border-radius: .313rem;
}

.lang-switch {
    padding: .313rem .438rem;
    border-radius: .313rem;
    font-weight: bold;
    font-size: .938rem;
}

footer {
    padding: .625rem 0;
    display: flex;
    align-items: center;
}

#moon {
    display: none;
}

#sun {
    display: block;
}

footer p {
    margin-left: auto;
    font-size: .875rem;
}

body.light {
    background-color: #f7f7f7;
    color: #333
}

.light .icon {
    fill: #333;
}

.light #moon {
    display: block;
}

.light #sun {
    display: none;
}

.light .server {
    border-bottom: .063rem solid #ededed;
}

.light .info {
    border-top: .063rem solid #ededed;
}

.light .show-more:hover,
.light .day-night:hover,
.light .lang-switch:hover {
    background-color: rgba(0, 0, 0, .1);
}
