:root {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
    font-family: sans-serif;
}

button {
    border: none;
    background: none;
}

.transition {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.main {
    max-width: 75rem;
    margin: auto;
    padding: .313rem;
}

.meme {
    width: 33.333%;
    display: inline-block;
}

@media (max-width: 68.75rem) {
    .meme {
        width: 50%;
    }
}

@media (max-width: 45.313rem) {
    .meme {
        width: 100%;
    }
}

.meme > .inner {
    margin: .313rem .313rem;
    height: 15.938rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.meme .p-wrapper {
    height: 100%;
    width: 100%;
    filter: blur(0);
    -webkit-filter: blur(0);
}

.meme .photo {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 10;
}

.meme .photo.bg {
    background-size: cover !important;
    z-index: 9 !important;
    filter: blur(.625rem);
    -webkit-filter: blur(.625rem);
}

.meme .control {
    height: 100%;
    position: absolute;
    width: 100%;
    padding: 1.25rem;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: .438rem;
    align-items: flex-end;
}

.control svg {
    height: 1.063rem;
    display: inline-block;
    fill: rgba(255, 255, 255, .8);
}

.control.dark svg {
    fill: rgba(0, 0, 0, .8);
}

.open-options svg {
    fill: rgb(255, 255, 255);
    opacity: .4;
}

.dark .open-options svg {
    fill: rgb(0, 0, 0);
}

.open .open-options svg {
    opacity: 1;
}

.meme .control .open-options {
    cursor: pointer;
}

.control .options * {
    font-size: .938rem;
    color: rgba(255, 255, 255, .8);
    vertical-align: top;
    font-weight: 600;
}

.control.dark .options * {
    color: rgba(0, 0, 0, .8);
}

.control .options > * {
    padding: .313rem .625rem;
    border-radius: .25rem;
    border: .125rem solid;
    display: inline-flex;
    gap: .313rem;
    cursor: pointer;
    flex-direction: row;
}

.control .options > *::selection {
    background-color: transparent;
}

.control .options > *:hover {
    background-color: rgba(255, 255, 255, .8);
}

.control.dark .options > *:hover {
    background-color: rgba(0, 0, 0, .8);
}

.control .options > *:hover,
.control .options > *:hover * {
    color: inherit;
    fill: inherit !important;
    border-color: transparent;
}

.control .options {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
    gap: .438rem;
}

@media (max-width: 23.813rem) {
    .control .options > a {
        display: block;
        margin: .313rem;
    }
}

.control.open + .p-wrapper {
    filter: blur(.938rem);
    -webkit-filter: blur(.938rem);
    opacity: .5;
}

.control.open > .options {
    pointer-events: all;
    opacity: 1;
}

.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.stage {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 30;
    top: 0;
}

.stage .name {
    font-size: 1.25rem;
    padding: .625rem 0;
}

.stage + .main {
    filter: blur(.938rem);
}

.stage > .inner {
    box-shadow: inset .063rem .063rem 1.25rem 62.438rem rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    color: white;
}

.stage .close {
    cursor: pointer;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    right: 0;
    top: .688rem;
    opacity: .6;
}

.stage .close:hover {
    opacity: 1;
}

.stage .close:before,
.stage .close:after {
    content: '';
    transform: rotate(45deg);
    height: 1.625rem;
    display: block;
    width: .125rem;
    position: absolute;
    background-color: white;
    left: .625rem;
    top: -.188rem;
}

.stage .close:after {
    transform: rotate(-45deg);
}

.stage .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stage .photo {
    max-height: calc(100vh - 5.188rem);
    max-width: calc(100vw - 2.5rem);
    border-radius: .5rem;
}

.stage .sort {
    font-size: .688rem;
    text-transform: uppercase;
    display: inline-block;
    padding: .125rem;
    border: .125rem solid white;
    border-radius: .25rem;
    font-weight: 600;
    vertical-align: text-bottom;
    margin-left: .313rem;
}

.stage .click-bg {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.copied-msg {
    font-size: .875rem;
    position: fixed;
    padding: .938rem;
    border-radius: .5rem;
    bottom: -3.125rem;
    right: .625rem;
    color: rgba(255, 255, 255, .8);
    overflow: hidden;
    font-weight: 600;
}

.copied-msg.dark {
    color: rgba(0, 0, 0, 8);
}

.copied-msg.visible {
    bottom: .625rem;
}

.copied-msg .bg {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(.625rem);
    opacity: .5;
}

@keyframes metronome {
    0%   {transform: rotate(0deg)}
    25%  {transform: rotate(-25deg)}
    50%  {transform: rotate(0deg)}
    75%  {transform: rotate(25deg)}
    100% {transform: rotate(0deg)}
}

header {
    padding: .313rem;
}

.metronome {
    background-image: url(martwevers.gif);
    height: 6.25rem;
    width: 4rem;
    background-size: cover;
    cursor: url(tequila.png), default;
}

.metronome .oog {
    background-image: url(oog.gif);
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0;
}

.metronome .oog.visible {
    opacity: 1;
}

.metronome:hover {
    animation-name: metronome;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

header > * {
    display: inline-block;
    vertical-align: middle;
}

.title .big {
    font-size: 3.188rem;
    font-weight: 600;
}

.title .small {
    font-size: 1.563rem;
    opacity: .7;
}

.title {
    margin-left: .625rem;
    padding: .375rem 0;
}

.speaker {
    fill: #000000;
    height: 1.063rem;
    width: 1.063rem;
    display: inline-block;
    margin: 0 0 0 .313rem;
    opacity: .7;
    cursor: pointer;
}

.speaker:hover {
    opacity: 1;
}
