:root {
    font-size: 1rem;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-width: 25rem;
}

button {
    border: none;
    background: none;
}

h1 {
    font-weight: normal;
}

h1,
a,
video,
body,
html,
button {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 0;
}

.emoji {
    height: 4.375rem;
    width: 4.375rem;
}

.caption {
    padding: 1.875rem;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65vh;
    gap: .313rem;
}

.caption h1 {
    font-size: 3.75rem;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}

.controls {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    border-bottom-right-radius: .313rem;
    transition: opacity .5s ease-in-out;
    display: flex;
    opacity: .3;
    align-items: center;
    justify-content: flex-start;
}

.controls:hover {
    opacity: 1;
}

.speaker {
    height: 1.875rem;
    width: 2.5rem;
    opacity: .7;
    transition: opacity .5s ease-in-out;
    cursor: pointer;
    padding: .313rem .625rem;
}

.speaker > svg {
    height: 100%;
    width: 100%;
    fill: white;
}

.speaker:hover {
    opacity: .9;
}

.speaker.off .soundwave {
    display: none;
}

.lang-switch {
    font-size: .875rem;
    color: #ffffff;
    transition: opacity .5s ease-in-out;
    opacity: .7;
    font-weight: 600;
    padding: .438rem .625rem .438rem 0;
}

.lang-switch:hover {
    opacity: .9;
}

@media (max-width: 74.5rem) {
    .caption h1 {
        font-size: 3.125rem;
    }

    .emoji {
        height: 3.75rem;
        width: 3.75rem;
    }
}

@media (max-width: 62.75rem) {
    .caption h1 {
        font-size: 2.5rem;
    }

    .emoji {
        height: 3.125rem;
        width: 3.125rem;
    }
}

@media (max-width: 50.938rem) {
    .caption h1 {
        font-size: 1.875rem;
    }

    .emoji {
        height: 2.5rem;
        width: 2.5rem;
    }

    .caption {
        padding: .938rem;
    }
}

@media (max-width: 39.125rem) {
    .caption h1 {
        font-size: 1.25rem;
    }

    .emoji {
        height: 1.875rem;
        width: 1.875rem;
    }
}

@media (max-width: 27.5rem) {
    .caption h1 {
        font-size: 1.063rem;
    }

    .emoji {
        height: 1.25rem;
        width: 1.25rem;
    }

    .caption {
        padding: .625rem;
    }
}
