body {
    margin: 0;
    font-size: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

span {
    opacity: 0.7;
}

h3 {
    font-size: 1.7em;
    margin: 0;
}

h3 > sup {
    font-size: 0.4em;
}

h3 > span {
    font-size: 0.7em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 1em;
    font-size: 1.1em;
}

li > span {
    font-size: 0.9em;
    margin-right: 0.3em;
}

h4 {
     margin: 1em 0 0;
 }

article {
    margin-top: 1em;
    font-size: 1rem;
}

.the-great-weef {
    max-height: 69vh;
    height: calc(100% - 176px);
    object-fit: contain;
    min-height: 39vh;
    margin-top: 20px;
}

.the-great-text {
    font-size: 15px;
}

.the-great-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
    height: 100vh;
}

.sound {
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    cursor: pointer;
    opacity: 0.7;
}

.sound:hover {
    opacity: 1;
}

.sound > path {
    fill: white;
    stroke: white;
    stroke-width: 5px;
}
